

.centered{
    margin-right: auto;
    margin-left: auto;

}

body {
    height: 100%;
    background: lightcyan;
    color: black;
}

form { 
    margin: 0 auto; 
    width:250px;
    }

.formbox{

    width: 320px;
    height: 420px;
    background: lightblue;
    color: gray;
    top:50%;


}